<div  class="services">
    <img src="../../../media/icon-2.png" alt="" class="services__img">
    <h3 class="services__title">Restaurant</h3>
    <p class="services__desc">Phasellus enim libero, blandit vel sapien vitae, condimentum</p>
</div>
