<ul class="social">
	<li class="social__item"><a href="#" class="social__link social__link--facebook"></a></li>
	<li class="social__item"><a href="#" class="social__link social__link--twitter"></a></li>
	<li class="social__item"><a href="#" class="social__link social__link--linked"></a></li>
	<li class="social__item"><a href="#" class="social__link social__link--youtube"></a></li>
	<li class="social__item"><a href="#" class="social__link social__link--instagram"></a></li>
</ul>
