<article class="news__article news-article">
    <div class="news-article__img">
        <img src="../../../media/img-3-1.jpg" alt="">
    </div>
    <div class="news-article__desc">
        <h3 class="news-article__title">Phasellus enim libero, blandit vel sapien vitae, condimentum ul</h3>
        <time class="news-article__date" datetime="2018-06-18">June 18, 2018</time>
        <p class="news-article__excerpt">Phasellus enim libero, blandit vel sapien vitae, condimentum ulPhasellus enim libero, blandit vel sapien vitae, condimentum ulPhasellus enim libero, blandit vel sapien vitae, condimentum ulPhasellus enim libero, blandit vel sapien vitae, condimentum ulPhasellus enim libero, blandit vel sapien vitae, condimentum ul</p>
        <a href="#" class="news-article__link link-btn">Read More</a>
    </div>
</article>
