<form class="search" action="/" method="post">
	<label class="sr-only" for="searchbar">What are you looking for?</label>
	<input type="text" class="search__input" id="searchbar">
	<button type="submit" class="search__btn"><span class="sr-only">Search</span></button>
</form>
