<!--<form class="calendar">-->
    <!--<label class="sr-only" for="searchbar">Check-in Date</label>-->
    <!--<input type="text" class="search__input" id="searchbar" placeholder="Check-in Date">-->

    <!--<label class="sr-only" for="searchbar">Check-out Date</label>-->
    <!--<input type="text" class="search__input" id="searchbar" placeholder="Check-out Date">-->


    <!--<label class="sr-only" for="searchbar">Guest</label>-->
    <!--<input type="text" class="search__input" id="searchbar" placeholder="Guest">-->

    <!--<button type="submit" class="search__btn">check  Availability</button>-->
<!--</form>-->


