<article class="review__item review-item">
    <div class="review-item__desc">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatem
        </p>
    </div>
    <figure class="review-item__author review-author">
        <img src="../../../media/avatar.jpg" alt="" class="review-author__avatar">
        <figcaption class="review-author__desc">
            <h3 class="review-author__name">Andrew Strauss</h3>
            <p class="review-author__info">Andrew Strauss</p>
        </figcaption>
    </figure>
</article>
