<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="description" content="description">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{title}} | Haringey
    </title>
    <link href="content/css/styles.css" rel="stylesheet">
     <script src="content/js/runtime.js"></script>
    <script src="content/js/vendors.js" ></script>
    <script src="content/js/app.js"></script>
</head>
<body>
    <div class="pcg-page-wrapper">
        {{> ../../components/skip-button/skip-button}}
        {{#block "header"}} 
            {{> ../../components/header/header}}
        {{/block}}
        <main class="main-content">
            {{#block "main"}}
            {{/block}}
        </main>
        {{#block "footer"}} 
            {{> ../../components/footer/footer}}
        {{/block}}
    </div>
    {{#block "scripts"}}
    {{/block}}

    <script>
        var hideMenu = document.querySelector('.js-header-menu');
        var btn = document.querySelector('.js-btn-menu');
        console.log(hideMenu);
        console.log(btn);
        btn.addEventListener('click', function () {
                hideMenu.classList.toggle('open');
            }
        );

        //youtube script
        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        onYouTubeIframeAPIReady = function () {
            player = new YT.Player('player', {
                videoId: 'FGlF1dUj8eE',  // youtube video id
                playerVars: {
                    'autoplay': 0,
                    'rel': 0,
                    'showinfo': 0
                },
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
        };

        var p = document.getElementById ("player");
        $(p).hide();


        onPlayerStateChange = function (event) {
            if (event.data == YT.PlayerState.ENDED) {
                $('.start-video').fadeIn('normal');
            }
        };

        $(document).on('click', '.start-video', function () {
            $(this).hide();
            $("#player").show();
            $(".tt__inner").hide();
            player.playVideo();
        });
    </script>
</body>
</html>
