<header class="header">
    <div class="container-fluid header__inner">
        <div class="header-menu__wrap">
          <button class="header__btn js-btn-menu" type="button"></button>
          <ul class="header__menu header-menu js-header-menu">
              {{#repeat 7}}
                  <li class="header-menu__item"><a href="#" class="header-menu__link">Accomodation</a></li>
              {{/repeat}}
          </ul>
        </div>
        <h1 class="sr-only">Airbooking</h1>
        <div class="header__logo">
            {{> ../logo/logo}}
        </div>
            {{> ../search/search}}
        <div class="header__social">
            {{> ../social/social}}
        </div>
    </div>
</header>


<script>
    var hideMenu = document.querySelector('.js-header-menu');
    var btn = document.querySelector('.js-btn-menu');
    console.log(hideMenu);
    console.log(btn);
    btn.addEventListener('click', function () {
            hideMenu.classList.toggle('open');
        }
    )
</script>
