@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.header {
    position: relative;
    padding: 18px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(xs) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__btn {
        @include fontello-icon(icon-menu, inherit);
        @include btn-default-del;
        padding: 0;
        font-size: 36px;
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(sm) {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__social {
        position: absolute;
        width: 75px;
        height: 1035px;
        background: #ffffff;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(lg) {
            width: 115px;
        }

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
}


.header-menu {
    &__wrap {
        @include media-breakpoint-up(lg) {
            padding-left: 15px;
        }
    }

    &__item {
        & + & {
            margin-top: 10px;
        }
    }

    &__link{
        color: $light-gray-color;
        @include hover-focus-active();
    }
}


.js-header-menu {
    @include list-style-none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 30px;
    margin: 0;
    will-change: transform;
    transition: transform .3s;
    transform: scaleY(0);
    transform-origin: 50% 0;
    background: #fff;
    border-top: 1px solid #ccc;
}


.open {
    transform: scaleY(1);
    z-index: 1;
}
